/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Sans+SC&display=swap');


/* font-family: 'Noto Sans SC', sans-serif; */
/* font-family: 'Libre Baskerville', serif; */

/* Colors */

.qc_colors {           /* Unused Class */
 color: #F94144;    /* Color 1 - Red */
 color: #F3722C;    /* Color 2 - Orange*/
 color: #F8961E;    /* Color 3 - Tangerine*/
 color: #F9C74F;    /* Color 4 - Yellow*/
 color: #90BE6D;    /* Color 5 - Light Green*/
 color: #43AA8B;    /* Color 6 - Sea Green*/
 color: #577590;    /* Color 7 - Slate Blue*/
 color: #efefef;    /* Color BG - Off-White Background*/
 color: #2B3A48;    /* Color 7 -50%*/
 color: #161D24;    /* Color 7 -75%*/
 color: #FDF1D3;    /* Color 4 +75%  Off-yellow for title background*/

}

/* Special Paddings Margins Text Rules */



/* General */
.qc_hide{
    display: none;
}


html,
body {
    margin: 0;
    padding: 0;
}

header {
    background: #FDF1D3;
}

body {
    height: 100vh;
    width: 100vw;
}

/* Quiz Challenge Main Styles */

.qc_logobgColor {
    background: url("../images/qc_logo_color_yellowbg.png");
    padding-top: 5%;
    padding-bottom: 5%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100px;
}

.qc_logobgHighContrast {
    background: url("../images/qc_logo_highcontrast.png");
    padding-top: 5%;
    padding-bottom: 5%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100px;
}

.qc_menuColor{
    padding:        0;
    margin:         auto;
    text-align:     center;
    align-items:    center;
}

/*  Nav button stylings */
nav a {
    color: #293132;
}

.bg-nav {
    background-color: #4F5165;
    width: 100%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: 0;
}

.qc-nav-link {
    color: #ffffff !important; 
    font-weight: 500;
}

.fa-bars {
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px #2B3A48;
    color: #577590;
}



/*Credit to Alessandro Incarnati for idea of doing multicolored hr. https://stackoverflow.com/questions/29733780/how-to-style-hr-to-have-multiple-colors*/
/*  Original Code: span { display:block; width:10%; float:left; height:5px;}  .line{width:100%;}  */
.hr_span{
    display:    block;
    width:      14.28%; /* 14.28% = 100% width / 7 colors. */
    float:      left;
    height:     10px;
}

.hr_div{
    width:100%;
    padding: 0;
    margin:0;
}

.bg_color1 {background-color:    #F94144;}    /* Color 1 - Red */
.bg_color2 {background-color:    #F3722C;}    /* Color 2 - Orange*/
.bg_color3 {background-color:    #F8961E;}    /* Color 3 - Tangerine*/
.bg_color4 {background-color:    #F9C74F;}    /* Color 4 - Yellow*/
.bg_color5 {background-color:    #90BE6D;}    /* Color 5 - Light Green*/
.bg_color6 {background-color:    #43AA8B;}    /* Color 6 - Sea Green*/
.bg_color7 {background-color:    #577590;}    /* Color 7 - Slate Blue*/


.jungle-background {
    padding-top: 5%;
    padding-bottom: 5%;
    background: url("../images/16552_330dpi_cropped.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    transition: all 7s ease-in-out;
    -moz-transition: all 7s ease-in-out;
    -webkit-transition: all 7s ease-in-out;
}

#qc_startScreen,
#qc_questionScreen,
#qc_scoreScreen {
    background-color: hsla(43, 91%, 91%, 60%);
    height: 50vh;
    width: 100vw;
    padding: 20px;
    
    /*display: flex;                  BUG - CAUSES AN ERROR HIDING PAGE SECTIONS!!! */
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;

    border: 3px solid #43AA8B;
    border-radius: 15px;
}


/* General Button Styling */
.qc_questionBtn {
    background-color: #577590 !important;
    color: #ffffff !important;
    border: 2px solid #2B3A48 !important;
    box-shadow: 0 9px gray !important;
    border-radius: 1rem !important;
}

.qc_questionBtnCorrect {
    background-color: #43AA8B !important;
    color: #161D24 !important;
    border: 2px solid #2B3A48 !important;
    box-shadow: 0 9px gray !important;
    border-radius: 1rem !important;
}

.qc_questionBtnIncorrect {
    background-color: #F94144 !important;
    color: #161D24 !important;
    border: 2px solid #2B3A48 !important;
    box-shadow: 0 9px gray !important;
    border-radius: 1rem !important;
}
.qc_buttonDiv {
    padding: 10px;
}

/* Heading */




/*  Images and image titles */



/* Footer */


/* Hover.css */





/* Media Query */

@media only screen and (min-width: 575.98px) {

    
}

@media only screen and (min-width: 767.98px) {

    
}

@media only screen and (min-width: 991.98px) {
   
   
}

