
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Sans+SC&display=swap');


/* font-family: 'Noto Sans SC', sans-serif; */
/* font-family: 'Libre Baskerville', serif; */

/* Colors */

.qc_colors {
 color: #F94144;    /* Color 1 - Red */
 color: #F3722C;    /* Color 2 - Orange*/
 color: #F8961E;    /* Color 3 - Tangerine*/
 color: #F9C74F;    /* Color 4 - Yellow*/
 color: #90BE6D;    /* Color 5 - Light Green*/
 color: #43AA8B;    /* Color 6 - Sea Green*/
 color: #577590;    /* Color 7 - Slate Blue*/
 color: #efefef;    /* Color BG - Off-White Background*/
 color: #2B3A48;    /* Color 7 -50%*/
 color: #161D24;    /* Color 7 -75%*/

}

/* Special Paddings Margins Text Rules */





/* General */
html {
  scroll-behavior: smooth;

}

.qc_hide{
    display: none;
}



/* General Button Styling */
.qc_questionBtn {
    background-color: #577590 !important;
    color: #ffffff !important;
    border: 2px solid #2B3A48 !important;
    box-shadow: 0 9px gray !important;
    border-radius: 1rem !important;
}

.qc_buttonDiv {
    padding: 10px;
}

/* Heading */




/*  Images and image titles */



/* Footer */


/* Hover.css */





/* Media Query */

@media only screen and (min-width: 575.98px) {

    
}

@media only screen and (min-width: 767.98px) {

    
}

@media only screen and (min-width: 991.98px) {
   
   
}